.contact {
  background-color: #28338C;
  height: 591px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.contact-title {
  text-align: center;
  font-size: 3rem;
  margin-bottom: 40px;
  color: #ffff;
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 540px;
  height: 288px;
}

::placeholder {
  font-size: 18px;
}

.contact-fields {
  display: flex;
  justify-content: space-between;
}

.contact-fields input {
  padding: 10px;
  font-size: 1.5rem;
  background-color: white;
  width: 265px;
  height: 60px;
  border-radius: 10px;
}

.contact-message textarea {
  width: 100%;
  height: 160px;
  border-radius: 10px;
  padding: 10px;
  font-size: 1.5rem;
}

.submit-button {
  font-size: 20px;
  color: white;
  height: 60px;
  width: 100%;
  background-color: black;
  cursor: pointer;
  border-radius: 10px;
}

.submit-button:hover {
  transform: scale(1.05);
}
