@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');

* {
    padding: 0;
    margin: 0;
    border: 0;
    font-family: 'Josefin Sans', sans-serif; 
    /* font-size: 16px; */  
}